<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel's Portfolio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css"/>


</head>
<body style="background-color: #f0f2f5;">
    <div class="container">
        <div class="jumbotron mt-5" style="background-color: #ffffff; text-align: center;">
            <!-- Photo -->
            <img src="{{ url_for('static', filename='profile.jpg') }}" alt="Daniel Osei Agyapong" class="img-fluid rounded-circle mb-3" width="200">

            <h1 class="display-4">Hello, I'm Daniel Osei Agyapong!</h1>
            <p class="lead">A Data Science and Machine Learning enthusiast with an MS in Business Analytics, graduating in May 2024.</p>
            <p>This website showcases the visualization of some projects I've worked on, alongside the codes where available.</p>
            <p>Fun fact: I built this website myself using tools such as HTML, CSS, JavaScript, Flask, and Slick Slider.</p>

        </div>

        <!-- Projects Section -->
        <div class="projects">
            <h2>Projects</h2>
            <div class="project">
                <h3>Project 1: Sentiment Analysis on Movie Reviews</h3>
                <p>This project is a Python-based web application that utilizes Natural Language Processing (NLP) and a pre-trained BERT (Bidirectional Encoder Representations from Transformers) model to analyze sentiment in movie reviews. Designed to be user-friendly, it offers an interactive web interface where users can submit movie reviews and quickly receive an analysis indicating whether the sentiment of the review is positive or negative. The application showcases the practical application of advanced machine learning techniques in processing and understanding human language, making it an exemplary project for anyone interested in AI, NLP, and data science. Through its development, I honed my skills in Python, Flask, working with NLP models, and deploying web applications, making it a significant addition to my portfolio as a demonstration of my technical capabilities and my passion for machine learning and natural language processing.</p>

                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711984318/light_mode_vs1hsb.png" alt="Screenshot 1" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711984318/dark_mode_addmfq.png" alt="Screenshot 2" class="img-fluid">
                </div>
                <a href="https://github.com/Waveeyy/sentiment-analysis" target="_blank">Project Link</a>
            </div>
            <div class="project">
                <h3>Project 2: Customer Segmentation</h3>
                <p>This project employs RFM (Recency, Frequency, Monetary Value) analysis and K-Means clustering on the 'Online Retail II' dataset for customer segmentation in a retail context. The aim is to segment customers based on their purchase behaviors, allowing for targeted marketing strategies. The dataset contains transactional data, which is cleaned and processed to calculate RFM metrics for each customer. These metrics are then used to segment customers into distinct groups using K-Means clustering, guided by the Elbow Method to determine the optimal number of clusters. The outcome is a set of customer segments that can be targeted with personalized communication, enhancing customer engagement, loyalty, and sales. This project illustrates the practical application of machine learning in marketing analytics to understand and leverage customer behavior.</p>

                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1712720673/Figure_1_pq41mv.png" alt="Screenshot 1" class="img-fluid">
                </div>
                <a href="https://github.com/Waveeyy/customer-segmentation" target="_blank">Project Link</a>
            </div>
            <div class="project">
                <h3>Project 3: Fresh 2.0: The Operational Execution Analyst</h3>
                <p>Diving into BJ's Wholesale Club's Fresh 2.0 project was an adventure in data-driven freshness! From analyzing chilly inbound temperatures to inspecting vibrant produce and mastering the art of sturdy pallet building, my mission was clear. Armed with Excel and an insatiable curiosity, I navigated through a sea of data, turning insights into action for that perfect avocado squish. It was a journey of turning club feedback into actionable gold and ensuring every lettuce leaf arrived in tip-top shape. This wasn't just an internship; it was my front-row seat to innovation, where numbers spun tales of quality, collaboration, and crispy cucumbers. Capping off this incredible adventure, I was privileged to win the Pace Setter Award, a cherry on top of an already rewarding experience!</p>

                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217228/Slide12_dkctra.jpg" alt="Fresh 2.0 Slide 1" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217229/Slide22_ezc3q6.jpg" alt="Fresh 2.0 Slide 2" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217231/Slide32_vfu4bw.jpg" alt="Fresh 2.0 Slide 3" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217232/Slide42_ifrtax.jpg" alt="Fresh 2.0 Slide 4" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217233/Slide52_mgddi4.jpg" alt="Fresh 2.0 Slide 5" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217234/Slide62_cfqbnv.jpg" alt="Fresh 2.0 Slide 6" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217235/Slide72_riupge.jpg" alt="Fresh 2.0 Slide 7" class="img-fluid">
                </div>
            </div>

            <div class="project">
                <h3>Project 4: Music & Mental Health: The Rhythmic Impact on Well-being</h3>
                <p>Intrigued by the harmonious relationship between music genres and mental health, my team and I embarked on an analytical journey with a Kaggle dataset originating from a University of Washington study. With self-reported mental health conditions as our notes and Tableau as our instrument, we orchestrated an in-depth analysis that resonated with intriguing findings.</p>

                <p>Our symphony of data revealed a melody of impacts: some music genres serenaded the mind with positive vibes, while others struck a dissonant chord. The data sang of high notes, particularly among younger and older demographics, where the therapeutic tones of certain genres amplified their mental well-being.</p>

               <p> Yet, like any complex composition, variations arose. Self-reporting biases, cultural harmonics, and the scale of our sample size added layers to our understanding. Delving deeper, we tuned into specific genres, such as the dynamic world of video game music, uncovering patterns and potential for enhancing mood and alleviating conditions when the right tunes are played early in life.</p>

               <p> Discover the power of music on mental health through our visualized tableau of insights. Explore how the right playlist could be a key to harmonizing mental wellness across ages.</p>
                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217225/slide1_qdaajg.jpg" alt="Music & Mental Health Slide 1" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217225/slide2_vo3vsa.jpg" alt="Music & Mental Health Slide 2" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217226/slide3_tygdvj.jpg" alt="Music & Mental Health Slide 3" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217226/slide4_lkl2uj.jpg" alt="Music & Mental Health Slide 4" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217226/slide5_nxhqrb.jpg" alt="Music & Mental Health Slide 5" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217227/slide6_osfwlw.jpg" alt="Music & Mental Health Slide 6" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217227/slide7_blluyn.jpg" alt="Music & Mental Health Slide 7" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217227/slide8_ufschj.jpg" alt="Music & Mental Health Slide 8" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217228/slide9_sysxfj.jpg" alt="Music & Mental Health Slide 9" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217228/slide10_wpklnt.jpg" alt="Music & Mental Health Slide 10" class="img-fluid">
                </div>
            </div>

            <div class="project">
                <h3>Project 5: BigTelco FastCable Delivery System: Building a Database to solve problems</h3>
                <p>On the "Big Telco Database Project," our squad turned data detective, diving into a telecom conundrum at BigTelco. Our mission? To untangle a web of service delays and installation hiccups that would make any customer's head spin. Armed with SQL wizardry and Tableau's visual prowess, we engineered a database that didn't just talk the talk but walked the walk. Picture this: from chaos to clarity, transforming a saga of missed appointments and endless phone calls into a streamlined service delight. This wasn't just a project; it was our playground, where data danced and solutions sang, making BigTelco's customer experience smoother than their 1Gbps internet service. Oh, and did we mention the fun part? Cracking the code to customer smiles was the best reward.</p>

                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217229/Slide13_aygzfp.jpg" alt="BigTelco Slide 1" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217230/Slide23_o3flug.jpg" alt="BigTelco Slide 2" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217231/Slide33_aviuvy.jpg" alt="BigTelco Slide 3" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217232/Slide43_k7ejr8.jpg" alt="BigTelco Slide 4" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217233/Slide53_wqdmfq.jpg" alt="BigTelco Slide 5" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217234/Slide63_jbkawn.jpg" alt="BigTelco Slide 6" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217235/Slide73_oxuilt.jpg" alt="BigTelco Slide 7" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217236/Slide83_mbujgt.jpg" alt="BigTelco Slide 8" class="img-fluid">
                </div>
            </div>
            <div class="project">
                <h3>Project 6: Personal Consumption Expenditures Prediction: Gasoline and other Energy goods</h3>
                <p>For our fourth project, "Exploration of Personal Consumption Expenditures in the USA - Nondurable Goods: Gasoline and Other Energy Goods," we turned financial detectives with a magnifying glass on the dance between oil prices and how much green Americans spill on energy goods. Cracking the code with Holt and ARIMA models, our data wizardry forecasted a whopping $481 billion splash in PCE by Q4 2023. It was a journey back to the future, from 1947 to 2023, proving that when oil prices sway, PCE for gasoline and energy goods grooves along. So, buckle up; our analysis signals a hefty fuel bill on the horizon, powered by the undying romance between oil prices and energy expenditures.</p>

                <div class="project-slides">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217229/Slide16_q6vwzq.jpg" alt="Personal Consumption 1" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217230/Slide26_d3tmq1.jpg" alt="Personal Consumption 2" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217231/Slide36_gajpsb.jpg" alt="Personal Consumption 3" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217232/Slide46_rv302n.jpg" alt="Personal Consumption 4" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217233/Slide56_qk8iqt.jpg" alt="Personal Consumption 5" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217235/Slide66_tkdj8w.jpg" alt="Personal Consumption 6" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217236/Slide76_o5iikd.jpg" alt="Personal Consumption 7" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217236/Slide86_woehwy.jpg" alt="Personal Consumption 8" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217237/Slide96_v6h27g.jpg" alt="Personal Consumption 9" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217237/Slide106_mlwvvu.jpg" alt="Personal Consumption 10" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217237/Slide116_svgjor.jpg" alt="Personal Consumption 11" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217238/Slide126_sp9dig.jpg" alt="Personal Consumption 12" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217238/Slide136_wz9qgl.jpg" alt="Personal Consumption 13" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217238/Slide146_q1ouor.jpg" alt="Personal Consumption 14" class="img-fluid">
                    <img src="https://res.cloudinary.com/dqppok6re/image/upload/v1711217239/Slide156_unjyky.jpg" alt="Personal Consumption 15" class="img-fluid">
                </div>
            </div>

        </div>

        <!-- Additional Sections like Resume, Contact, etc. -->
        <div class="additional-info">
            | <a href="https://blinq.me/YrJHNWePuV2aKCFRSKRR" target="_blank">Resume & Contact Me</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Slick Slider JavaScript -->
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <!-- Custom Scripts -->
    <script>
        $(document).ready(function(){
            // Smooth Scrolling
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                }
            });

            // Slick Slider Initialization
            $('.project-slides').slick({
                dots: true,
                infinite: true,
                speed: 300,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        });
    </script>
</body>
</html>

